<h1 class="student_head">Students</h1>

<div style="margin-bottom: 20px;">
  <%= link_to 'Add New Student', new_student_path, class:"student_index_page" %>
</div>

<ol>
  <% @students.each do |student| %>
    <li class="student_list">
      <div>
        <%= link_to student.name, student_path(student), class: "student_show_page_btn" %>
        <div class="amount_wrap">
          Total Amount: <%= student.total_amount %>
        </div>
        <div class="amount_wrap">
          Paid Amount: <%= student.installments.completely_paid.sum(:amount) %>
        </div>
       <div class="amount_wrap">
          Remaining Amount: <%= student.total_amount - student.installments.completely_paid.sum(:amount) %>
        </div>
        <% if student.total_amount == student.installments.completely_paid.sum(:amount) %>
          <div style="color: green; margin-top: 10px;">
            Amount Completely Paid <%= image_tag "checked.png", alt: 'img', style: "width: 14px;"%>
          </div>
        <% end %>
      </div>
    </li>
  <% end %>
</ol>
