<div class="student_new_page" style="">
  <h1>New Student</h1>
  <%= form_with model: @student, local: true do |form| %>
    <div style="margin-bottom: 15px;">
      <%= form.label :name, class:"form_label_tag" %>
      <%= form.text_field :name,required: true, class: "form_input_field" %>
    </div>

    <div style="margin-bottom: 15px;">
      <%= form.label :total_amount, class:"form_label_tag" %>
      <%= form.number_field :total_amount, min:10000, max:20000, required: true, class: "form_input_field" %>
    </div>

    <div style="margin-bottom: 15px;">
      <%= form.label :number_of_installments, class:"form_label_tag" %>
      <%= form.number_field :number_of_installments,  required: true, class: "form_input_field" %>
    </div>

    <div style="text-align: center;">
      <%= form.submit "Submit", class:"submit_btn" %>
    </div>
  <% end %>
</div>

<div class="back_btn">
  <%= link_to 'Back', students_path, class:"back_link" %>
</div>
