<div class="student_installment_conatiner">
  <h1><%= @student.name %>'s Installments</h1>
  <h3>Total Amount: <%= @student.total_amount %></h3>
  <h3>Paid Amount: <%= @student.installments.completely_paid.sum(:amount) %></h3>
  <h3>Remaining Amount: <%= @student.total_amount - @student.installments.completely_paid.sum(:amount) %></h3>
  <ul>
    <% unpaid_found = false %> <!-- Initialize a flag to track if there's any unpaid installment -->
    <% @student.installments.each_with_index do |installment, index| %>
      <div id="error-message"></div>
      <li>
        Installment <%= index + 1 %>: <%= installment.amount %> 
        <% if installment.paid %>
          (Paid)
          <% if installment.payment_date.present? %>
            <div>payment date: <%= installment.payment_date&.strftime("%B %d, %Y") %> </div>
          <% end %>
        <% else %>
          (Not Paid)
          <!-- If an unpaid installment has been found, disable forms for subsequent installments -->
          <% unless unpaid_found %>
            <%= form_with url: pay_installment_path(@student), local: true do |form| %>
              <%= form.hidden_field :installment_index, value: index %>
              <%= form.number_field :amount_paid, placeholder: "Amount", min:0 %>
              <label>Action</label>
              <%= form.select :action_choice, [['Add to next installment', 'add_to_next'], ['Create new installment', 'create_new']] %>
              <%= form.submit "Pay Installment", class: "installment_submit_btn" %>
            <% end %>
          <% else %>
            <p>You need to pay the pending installment before this one.</p>
          <% end %>
          <% unpaid_found = true %> <!-- Mark the first unpaid installment -->
        <% end %>
      </li>
    <% end %>
  </ul>


  <div style="margin-top: 20px;">
    <%= link_to 'Back', students_path, class:"back_link" %>
  </div>
</div>